/* *******************Header********************** */
.box a{
    text-decoration: none;
    color: white;
    position: relative;
    left: 44%;
    margin: 0px 6px;
    padding: 5px 8px;
    font-family: 'Roboto Mono', monospace;
}
.box a:hover, .active{
    border-bottom: 2px solid #e81050;
}
.contaner img{
    width: 100%;
    height: 660px;
}
.main-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 660px;
    background-color: black;
    opacity: 0.5;
}
.box{ 
    position: absolute;
    top: 0;
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    display: flex;
    /* justify-items: center; */
    align-items: center;
    padding: 12px 0px;
} 
.logo h1{
    height: 50px;
    position: absolute;
    left: 10%;
    top: 4%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 5px;
}

.text {
    /* border: 1px solid black; */
    width: 100%;
    /* height: 134px; */
    position: absolute;
    top: 25%;
    right: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.text .l1{
    font-size: 40px;
    margin: 15px 0px;
    width: 393px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    /* letter-spacing: 2px; */
    font-weight: bold;
}
.text .l2{
    width: 444px;
    text-align: center;
    margin-bottom: 35px;
}
.start{
    background-color: #505288;
    border-radius: 25px;
    width: fit-content;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}
.start a{
    text-decoration: none;
    color: white;
}
.container-2{
    width: 100%;
    height: 2105px;
}

/* ******************footer****************** */
footer{
    background-color: #333333;
    /* margin-top: -4px;
    position: relative;
    top: 735px; */
    padding: 50px;
    /* height: 419px; */
}
.first-row{
    display: flex;
    padding: 48px 15px;
    /* margin: 0px 170.8px; */
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid grey;
}
.footer-element{
    /* padding-right: 15px; */
    margin-right: 70px;
    width: 25%;
}
.footer-element h3{
    color: white;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
    font-size: 27px;
}
footer .content{
    padding-top: 32px;
    line-height: 35px;
    color: grey;
}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    text-decoration: none;
    color: grey;
    width: 107px;
}
.links a:hover{
    text-decoration: underline;
}
.email input{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid grey;
}
.btn-2{
    background-color: #e81050;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-size: 19px;
    height: 38px;
    width: 88px;
}
.second-row{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 0px 170.8px;
    height: 60px;
}
.copyright{
    color: grey;
    margin-left: 2%;
}
.social{
    margin-top: 16px;
}
.social span{
    color: grey;
    letter-spacing: 13px;
}
.social p{
    color: white;
    /* letter-spacing: 13px; */
}